.container {
  display: flex;
  flex-direction: column;
  background: #cecece;
  border-radius: 10px;
  margin: 1rem;
  height: auto;
  max-height: auto;
  overflow-y: auto;
  padding: 0.8rem;
  transition: all 0.2s linear;
}

.result {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
