.item {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 1rem;
  background: #f1f1f171;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  transition: all 0.2s linear;
}

.delete,
.done {
  transition: all 0.2s linear;
  cursor: pointer;
}

.select {
  background: #e2e2e2;
  padding: 0.2rem;
  border: 1px solid #333;
  border-radius: 10px;
}

.delete:hover {
  color: #b82b2b;
}

.done:hover {
  color: #41a541;
}

.select:focus {
  outline: none;
}

.disabledText {
  color: #333 !important;
  opacity: 0.5;
}

.disabled {
  opacity: 0.5;
  background: #ccc;
}
