@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  background: #979797;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  padding-top: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: var(--type-second);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-app {
  height: 100vh;
  margin-bottom: 2rem;
  border-radius: 10px;
  background: #bbbbbb;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
  text-align: left;
  width: 80%;
}

li {
  list-style: none;
}

button {
  margin-bottom: 0.5rem;
  border: none;
  background: #e2e2e2;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s linear;
}

button:hover {
  background: #929292;
}
